{% extends "layout.html" %}

{% block title %}
    Exam
{% endblock %}

{% block main %}
    <h5>Answer Questions</h5>
    <form action="/{{teacherid}}/{{examname}}" method="post">
        {% for row in range(exam[0]["nquestions"]) %}
        <p>
            <div>
                <textarea readonly class="form-control mx-auto w-auto" id="question{{row+1}}" name="question{{row+1}}" type="text">{{ exam[0]["questions"][row] }}</textarea>
                <div>
                    <input type="radio" class="btn-check" name="rightanswer{{row+1}}" id="answer{{row+1}}-1" autocomplete="off" value="{{ exam[0]["answers"][exam[0]["questions"][row]][0] }}">
                    <label class="btn btn-outline-primary" for="answer{{row+1}}-1" >{{ exam[0]["answers"][exam[0]["questions"][row]][0] }}</label>
                    <input type="radio" class="btn-check" name="rightanswer{{row+1}}" id="answer{{row+1}}-2" autocomplete="off" value="{{ exam[0]["answers"][exam[0]["questions"][row]][1] }}">
                    <label class="btn btn-outline-primary" for="answer{{row+1}}-2" >{{ exam[0]["answers"][exam[0]["questions"][row]][1] }}</label>
                </div>
                <div>
                    <input type="radio" class="btn-check" name="rightanswer{{row+1}}" id="answer{{row+1}}-3" autocomplete="off" value="{{ exam[0]["answers"][exam[0]["questions"][row]][2] }}">
                    <label class="btn btn-outline-primary" for="answer{{row+1}}-3" >{{ exam[0]["answers"][exam[0]["questions"][row]][2] }}</label>
                    <input type="radio" class="btn-check" name="rightanswer{{row+1}}" id="answer{{row+1}}-4" autocomplete="off" value="{{ exam[0]["answers"][exam[0]["questions"][row]][3] }}">
                    <label class="btn btn-outline-primary" for="answer{{row+1}}-4" >{{ exam[0]["answers"][exam[0]["questions"][row]][3] }}</label>
                </div>
            </div>
        </p>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Submit Answers</button>
    </form>
{% endblock %}