{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
<div class="modal fade" id="modal-confirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to start this exam ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section horscroll">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Teacher</th>
                    <th>Puplished</th>
                    <th>Deadline</th>
                </tr>
            </thead>
            <tbody>
                {% for row in exams %}
                    <tr>
                        <td>{{ row.name }}</td>
                        <td>{{ row.teacher }}</td>
                        <td>{{ row.puplishdate }}</td>
                        <td>{{ row.deadlinedate }} || {{ row.deadlinetime }}</td>
                        <td>
                            <form action="/{{row.user_id}}/{{row.name}}">
                                <button class="btn btn-primary">Start</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}