{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section horscroll">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Puplished</th>
                        <th>Deadline</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in exams %}
                        <tr>
                            <td>{{ row.name }}</td>
                            <td>{{ row.puplishdate }} || {{ row.puplishtime }}</td>
                            <td>{{ row.deadlinedate }} || {{ row.deadlinetime }}</td>
                            <td>
                                <form action="/" method="post">
                                    <button name="delete" type="submit" class="btn btn-primary" value="{{row.name}}">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}