{% extends "layout.html" %}

{% block title %}
    Make Exam
{% endblock %}

{% block main %}
    <h5>Make Exam</h5>
    <br>
    <form action="/makeexam" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus required class="form-control mx-auto w-auto" id="examname" name="examname" placeholder="Exam Name" type="text">
        </div>
        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" id="nquestions" name="nquestions" placeholder="Questions" type="number" min="1" max="25">
        </div>
        <label>Publish Time:</label>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="puplishdate" name="puplishdate" type="date">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="puplishtime" name="puplishtime" placeholder="Puplish Time" type="time">
        </div>
        <label>Deadline:</label>
        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" id="deadlinedate" name="deadlinedate" type="date">
        </div>
        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" id="deadlinetime" name="deadlinetime" placeholder="Deadline Time" type="time">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Next: make questions</button>
    </form>
{% endblock %}