{% extends "layout.html" %}

{% block title %}
    Make Questions
{% endblock %}

{% block main %}
    <h5>Make Questions</h5>
    <h5>Please fill all fields at once</h5>
    <form action="/makequestions" method="post" id="questions">
        {% for row in range(nquestions) %}
            <textarea cols="70" autofocus required class="form-control stretchsize mx-auto w-auto" id="question{{row+1}}" name="question{{row+1}}" placeholder="Question {{row+1}}" type="text"></textarea>
            <div class="answerrow">
                <div class="answer">
                    <textarea required cols="31" class="form-control mx-auto w-auto" id="answer{{row+1}}-1" name="answer{{row+1}}-1" placeholder="Answer 1" type="text"></textarea>
                </div>
                <div class="answer">
                    <textarea required cols="31" class="form-control mx-auto w-auto" id="answer{{row+1}}-2" name="answer{{row+1}}-2" placeholder="Answer 2" type="text"></textarea>
                </div>
            </div>
            <div class="answerrow">
                <div class="answer">
                    <textarea required cols="31" class="form-control mx-auto w-auto" id="answer{{row+1}}-3" name="answer{{row+1}}-3" placeholder="Answer 3" type="text"></textarea>
                </div>
                <div class="answer">
                    <textarea required cols="31" class="form-control mx-auto w-auto" id="answer{{row+1}}-4" name="answer{{row+1}}-4" placeholder="Answer 4" type="text"></textarea>    
                </div>
            <div class="answerrow">
                <textarea required cols="70" class="form-control mx-auto w-auto" id="rightanswer{{row+1}}" name="rightanswer{{row+1}}" placeholder="Copy the right answer here" type="text"></textarea>    
            </div>
            </div>
            <br>
            <script>
                const myText{{row+1}} = document.getElementById("question{{row+1}}");
                myText{{row+1}}.style.cssText = `height: ${myText{{row+1}}.scrollHeight}px; overflow-y: hidden`;

                myText{{row+1}}.addEventListener("input", function(){
                    this.style.height = "auto";
                    this.style.height = `${this.scrollHeight}px`;
                });
                
                const myText{{row+1}}1 = document.getElementById("answer{{row+1}}-1");
                myText{{row+1}}1.style.cssText = `height: ${myText{{row+1}}1.scrollHeight}px; overflow-y: hidden`;

                myText{{row+1}}1.addEventListener("input", function(){
                    this.style.height = "auto";
                    this.style.height = `${this.scrollHeight}px`;
                });
                const myText{{row+1}}2 = document.getElementById("answer{{row+1}}-2");
                myText{{row+1}}2.style.cssText = `height: ${myText{{row+1}}2.scrollHeight}px; overflow-y: hidden`;

                myText{{row+1}}2.addEventListener("input", function(){
                    this.style.height = "auto";
                    this.style.height = `${this.scrollHeight}px`;
                });
                const myText{{row+1}}3 = document.getElementById("answer{{row+1}}-3");
                myText{{row+1}}3.style.cssText = `height: ${myText{{row+1}}3.scrollHeight}px; overflow-y: hidden`;

                myText{{row+1}}3.addEventListener("input", function(){
                    this.style.height = "auto";
                    this.style.height = `${this.scrollHeight}px`;
                });
                const myText{{row+1}}4 = document.getElementById("answer{{row+1}}-4");
                myText{{row+1}}4.style.cssText = `height: ${myText{{row+1}}4.scrollHeight}px; overflow-y: hidden`;

                myText{{row+1}}4.addEventListener("input", function(){
                    this.style.height = "auto";
                    this.style.height = `${this.scrollHeight}px`;
                });
                const rightAnswer = document.getElementById("rightanswer");
                rightAnswer.style.cssText = `height: ${rightAnswer.scrollHeight}px; overflow-y: hidden`;

                rightAnswer.addEventListener("input", function(){
                    this.style.height = "auto";
                    this.style.height = `${this.scrollHeight}px`;
                });

            </script>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Submit Questions</button>
    </form>
{% endblock %}