{% extends "layout.html" %}

{% block title %}
    Make Questions
{% endblock %}

{% block main %}
    <h5>Make Questions</h5>
    <form action="/makeexam" method="post">
        {% for row in range(nquestions) %}
            <br>
            <input required class="form-control-lg mx-auto w-auto" id="question{{row+1}}" name="question{{row+1}}" placeholder="Question {{row+1}}" type="text">
            <input required class="form-control mx-auto w-auto" id="answer{{row+1}}1" name="answer{{row+1}}1" placeholder="Answer 1" type="text">
            <input required class="form-control mx-auto w-auto" id="answer{{row+1}}2" name="answer{{row+1}}2" placeholder="Answer 2" type="text">
            <input required class="form-control mx-auto w-auto" id="answer{{row+1}}3" name="answer{{row+1}}3" placeholder="Answer 3" type="text">
            <input required class="form-control mx-auto w-auto" id="answer{{row+1}}4" name="answer{{row+1}}4" placeholder="Answer 4" type="text">
            <br>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Submit Questions</button>
    </form>
{% endblock %}