{% extends "layout.html" %}

{% block title %}
    Teacher Home Page
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section">
            <table class="table">
                <thead>
                    <tr>
                        <th>Exam name</th>
                        <th>Completion Rate</th>
                        <th>Puplish Time</th>
                        <th>Deadline</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in exams %}
                        <tr>
                            <td>{{ row.name }}</td>
                            <td>{{ row.completion }} %</td>
                            <td>
                                <table class="table">
                                    <!-- maybe put row tag here ?? <<<<<<<<<<<<<<<<<<<< -->
                                    <td>{{ row.puplishdate }}</td>
                                    <td>{{ row.puplishtime }}</td>
                                </table>
                            </td>
                            <td>
                                <table class="table">
                                    <td>{{ row.deadlinedate }}</td>
                                    <td>{{ row.deadlinetime }}</td>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}